:root {
  --primary-color: #84A178;
  --white-color: #FCFCFC;
  --yellow-color: #F8D24E;
  --black-color: #000000;
  --secondary-black-color: #131313;
  --iceCream-bgColor: #AEC6A5;
  --iceCoffee-bgColor: #EFD478;
  --milkshakes-bgColor: #D6936D;
  --grey-color: #ABABAB;
  --hover-color: #0A8817;
}

.form__submit, .mobileMenu__btn, .franchiseBtn, .locationModal__btn, .ourLocationBtn, .readMoreBtn, .commentsForm__submit, .hero__productsBtn {
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 17px;
  color: var(--black-color);
  background-color: var(--yellow-color);
  border-radius: 10px;
  border: none;
}

.form__field, .commentsForm__field {
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid var(--primary-color);
  border-radius: 10px;
}
.form__field::-webkit-input-placeholder, .commentsForm__field::-webkit-input-placeholder {
  color: var(--secondary-black-color);
}
.form__field::-moz-placeholder, .commentsForm__field::-moz-placeholder {
  color: var(--secondary-black-color);
}
.form__field:-ms-input-placeholder, .commentsForm__field:-ms-input-placeholder {
  color: var(--secondary-black-color);
}
.form__field::-ms-input-placeholder, .commentsForm__field::-ms-input-placeholder {
  color: var(--secondary-black-color);
}
.form__field::placeholder, .commentsForm__field::placeholder {
  color: var(--secondary-black-color);
}

.form__comments, .commentsForm__comments {
  resize: none;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid var(--primary-color);
  border-radius: 10px;
}
.form__comments::-webkit-input-placeholder, .commentsForm__comments::-webkit-input-placeholder {
  color: var(--secondary-black-color);
}
.form__comments::-moz-placeholder, .commentsForm__comments::-moz-placeholder {
  color: var(--secondary-black-color);
}
.form__comments:-ms-input-placeholder, .commentsForm__comments:-ms-input-placeholder {
  color: var(--secondary-black-color);
}
.form__comments::-ms-input-placeholder, .commentsForm__comments::-ms-input-placeholder {
  color: var(--secondary-black-color);
}
.form__comments::placeholder, .commentsForm__comments::placeholder {
  color: var(--secondary-black-color);
}

@-webkit-keyframes slideanim {
  12.5% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  37.5% {
    opacity: 0;
  }
}

@keyframes slideanim {
  12.5% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  37.5% {
    opacity: 0;
  }
}
@-webkit-keyframes zoom {
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}
@keyframes zoom {
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}
.hero {
  background-color: var(--primary-color);
}
.hero__nav {
  position: relative;
  height: 502px;
  -webkit-perspective: 400px;
          perspective: 400px;
}
@media (min-width: 480px) {
  .hero__nav {
    height: 415px;
  }
}
@media (min-width: 1200px) {
  .hero__nav {
    height: 664px;
  }
}
.hero__menu, .hero__mobileMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero__menu {
  padding-top: 17px;
}
@media (min-width: 480px) {
  .hero__menu {
    padding-top: 20px;
  }
}
@media (min-width: 768px) {
  .hero__menu {
    padding-top: 24px;
  }
}
@media (min-width: 1200px) {
  .hero__menu {
    padding-top: 28px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .hero__menu .toggle {
    margin-right: 32px;
  }
}
@media (min-width: 1200px) {
  .hero__menu .toggle {
    display: none;
  }
}
.hero__iconMenu {
  fill: var(--white-color);
}
.hero__title {
  margin-top: 50px;
  width: 247px;
  height: 97px;
}
@media (min-width: 480px) {
  .hero__title {
    margin-top: 40px;
  }
}
@media (min-width: 768px) {
  .hero__title {
    margin-top: 14px;
  }
}
@media (min-width: 1200px) {
  .hero__title {
    margin-top: 58px;
    width: 367px;
    height: 144px;
  }
}
.hero__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 768px) {
  .hero__links {
    margin-top: 24px;
  }
}
@media (min-width: 1200px) {
  .hero__links {
    margin-top: 28px;
  }
}
.hero__productsBtn {
  width: 108px;
  height: 38px;
  margin-left: 0;
  margin-right: 0;
  font-size: 12px;
  line-height: 15px;
  background-color: transparent;
  border: 2px solid var(--yellow-color);
  border-radius: 8px;
}
.hero__productsBtn:hover {
  border-color: var(--hover-color);
}
@media (min-width: 1200px) {
  .hero__productsBtn {
    width: 134px;
    height: 42px;
    font-size: 14px;
    line-height: 18px;
  }
}
.hero__productLink {
  text-decoration: none;
  color: var(--black-color);
}
.hero__howItIsMadeBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 24px;
  padding: 0;
  margin-left: 12px;
  font-size: 12px;
  line-height: 15px;
  background-color: transparent;
  border: none;
}
.hero__howItIsMadeBtn:hover .hero__howLink {
  color: var(--hover-color);
}
.hero__howItIsMadeBtn:focus .hero__howLink {
  color: var(--white-color);
}
.hero__howItIsMadeBtn:disabled .hero__howLink {
  color: var(--grey-color);
}
@media (min-width: 1200px) {
  .hero__howItIsMadeBtn {
    width: 111px;
    margin-left: 34px;
    font-size: 14px;
    line-height: 17px;
  }
}
.hero__howLink {
  color: var(--yellow-color);
}
.hero__dots {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 320px;
  height: 50px;
  background-image: url(/images/header/dots.svg);
}
@media (min-width: 480px) {
  .hero__dots {
    width: 330px;
    height: 52px;
  }
}
@media (min-width: 768px) {
  .hero__dots {
    width: 768px;
    height: 68px;
    background-image: url(/images/header/dotsTablet.svg);
  }
}
@media (min-width: 1200px) {
  .hero__dots {
    width: 1200px;
    height: 384px;
    background-image: url(/images/header/dotsDesktop.svg);
  }
}
@-webkit-keyframes animate125 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes animate125 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.iceCreamMain {
  position: absolute;
  bottom: 0;
  right: 15%;
  background-size: cover;
  -webkit-animation: animate125 1000ms;
          animation: animate125 1000ms;
}
@media (min-width: 480px) {
  .iceCreamMain {
    right: 0;
    margin-right: 20px;
  }
}
@media (min-width: 768px) {
  .iceCreamMain {
    right: 92px;
  }
}
.iceCreamMain__img {
  width: 177px;
  height: 217px;
}
@media (min-width: 480px) {
  .iceCreamMain__img {
    width: 218px;
    height: 267px;
  }
}
@media (min-width: 768px) {
  .iceCreamMain__img {
    width: 268px;
    height: 329px;
  }
}
@media (min-width: 1200px) {
  .iceCreamMain__img {
    width: 456px;
    height: 560px;
  }
}

@media (max-width: 767px) {
  .buyNowBtnTablet {
    display: none;
  }
}

@media (max-width: 767px) {
  .manyIceCream {
    display: none;
  }
}
.manyIceCream__img {
  position: absolute;
  bottom: 12px;
  width: 152px;
  height: 152px;
  z-index: 998;
}
@media (min-width: 1200px) {
  .manyIceCream__img {
    bottom: 65px;
    width: 225px;
    height: 225px;
  }
}
.manyIceCream__description {
  width: 139px;
  height: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 184px;
  margin-top: 39px;
  line-height: 17px;
  color: var(--white-color);
}
@media (min-width: 1200px) {
  .manyIceCream__description {
    width: 200px;
    height: 80px;
    margin-left: 257px;
    margin-top: 109px;
    font-size: 14px;
    line-height: 20px;
  }
}
.manyIceCream__btn {
  margin-top: 12px;
  margin-left: 184px;
  padding-left: 0;
  fill: var(--white-color);
  border: none;
  background-size: contain;
  background-color: transparent;
}
@media (min-width: 1200px) {
  .manyIceCream__btn {
    margin-top: 24px;
    margin-left: 257px;
  }
}

.achievements {
  position: absolute;
  top: 94px;
  right: 32px;
  width: 46px;
  height: 48px;
}
@media (max-width: 767px) {
  .achievements {
    display: none;
  }
}
@media (min-width: 1200px) {
  .achievements {
    top: 126px;
    width: 79px;
  }
}
.achievements__quantity {
  font-weight: 900;
  font-size: 28px;
  line-height: 34px;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.achievements__quantity:not(:first-child) {
  margin-top: 20px;
}
@media (min-width: 1200px) {
  .achievements__quantity:not(:first-child) {
    margin-top: 16px;
  }
}
@media (min-width: 1200px) {
  .achievements__quantity {
    font-size: 46px;
    line-height: 56px;
  }
}
.achievements__type {
  margin-top: 4px;
  text-align: right;
  font-size: 8px;
  line-height: 10px;
  color: var(--white-color);
}
@media (min-width: 1200px) {
  .achievements__type {
    font-size: 14px;
    line-height: 17px;
  }
}

.desktopMenu {
  width: 444px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 384px;
}
.desktopMenu__item {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
.desktopMenu__link {
  text-decoration: none;
  color: var(--white-color);
}
.desktopMenu__link:hover, .desktopMenu__link:focus {
  color: var(--yellow-color);
}
@media (max-width: 1199px) {
  .desktopMenu {
    display: none;
  }
}

.productSection {
  margin: 0;
  padding-top: 61px;
  padding-bottom: 60px;
  background-image: -webkit-image-set(url("/images/products/bgImgProductsMobile.png") 1x, url("/images/products/bgImgProductsMobile@2x.png") 2x);
  background-image: image-set(url("/images/products/bgImgProductsMobile.png") 1x, url("/images/products/bgImgProductsMobile@2x.png") 2x);
}
@media (min-width: 480px) {
  .productSection {
    background-image: -webkit-image-set(url("/images/products/bgImgProducts480.png") 1x, url("/images/products/bgImgProducts480@2x.png") 2x);
    background-image: image-set(url("/images/products/bgImgProducts480.png") 1x, url("/images/products/bgImgProducts480@2x.png") 2x);
  }
}
@media (min-width: 768px) {
  .productSection {
    background-image: -webkit-image-set(url("/images/products/bgImgProductsTablet.png") 1x, url("/images/products/bgImgProductsTablet@2x.png") 2x);
    background-image: image-set(url("/images/products/bgImgProductsTablet.png") 1x, url("/images/products/bgImgProductsTablet@2x.png") 2x);
  }
}
@media (min-width: 1200px) {
  .productSection {
    background-image: -webkit-image-set(url("/images/products/bgImgProductsDesktop.png") 1x, url("/images/products/bgImgProductsDesktop@2x.png") 2x);
    background-image: image-set(url("/images/products/bgImgProductsDesktop.png") 1x, url("/images/products/bgImgProductsDesktop@2x.png") 2x);
  }
}
.productSection__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.productSection__label {
  margin-bottom: 12px;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .productSection__label {
    font-size: 22px;
    line-height: 27px;
  }
}
@media (min-width: 1200px) {
  .productSection__label {
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0.04em;
  }
}

.grid__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 280px;
  height: 420px;
  margin-top: 168px;
  padding-top: 123px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 24px;
}
.grid__item::before {
  content: "";
  width: 200px;
  height: 220px;
  margin-top: -220px;
  background-size: cover;
}
@media (min-width: 1200px) {
  .grid__item::before {
    width: 302px;
    height: 328px;
    margin-top: -328px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .grid__item {
    padding-left: 60px;
    padding-right: 60px;
    width: 320px;
    height: 428px;
  }
}
@media (min-width: 768px) {
  .grid__item {
    width: 224px;
    height: 428px;
    margin-top: 200px;
    padding-top: 108px;
    padding-left: 26px;
    padding-right: 26px;
  }
}
@media (min-width: 1200px) {
  .grid__item {
    width: 370px;
    height: 536px;
    margin-top: 303px;
    padding-top: 165px;
    padding-left: 64px;
    padding-right: 64px;
  }
}

.iceCream {
  background-color: var(--iceCream-bgColor);
}
.iceCream::before {
  background-image: -webkit-image-set(url("/images/products/productIceCream.png") 1x, url("/images/products/productIceCream@2x.png") 2x);
  background-image: image-set(url("/images/products/productIceCream.png") 1x, url("/images/products/productIceCream@2x.png") 2x);
}
@media (min-width: 1200px) {
  .iceCream::before {
    background-image: -webkit-image-set(url("/images/products/productIceCreamDesktop.png") 1x, url("/images/products/productIceCreamDesktop@2x.png") 2x);
    background-image: image-set(url("/images/products/productIceCreamDesktop.png") 1x, url("/images/products/productIceCreamDesktop@2x.png") 2x);
  }
}

.iceCoffee {
  background-color: var(--iceCoffee-bgColor);
}
.iceCoffee::before {
  background-image: -webkit-image-set(url("/images/products/productIceCoffee.png") 1x, url("/images/products/productIceCoffee@2x.png") 2x);
  background-image: image-set(url("/images/products/productIceCoffee.png") 1x, url("/images/products/productIceCoffee@2x.png") 2x);
}
@media (min-width: 1200px) {
  .iceCoffee::before {
    background-image: -webkit-image-set(url("/images/products/productIceCoffeeDesktop.png") 1x, url("/images/products/productIceCoffeeDesktop@2x.png") 2x);
    background-image: image-set(url("/images/products/productIceCoffeeDesktop.png") 1x, url("/images/products/productIceCoffeeDesktop@2x.png") 2x);
  }
}

.milkshakes {
  background-color: var(--milkshakes-bgColor);
}
.milkshakes::before {
  background-image: -webkit-image-set(url("/images/products/productMilkShake.png") 1x, url("/images/products/productMilkShake@2x.png") 2x);
  background-image: image-set(url("/images/products/productMilkShake.png") 1x, url("/images/products/productMilkShake@2x.png") 2x);
}
@media (min-width: 1200px) {
  .milkshakes::before {
    background-image: -webkit-image-set(url("/images/products/productMilkShakeDesktop.png") 1x, url("/images/products/productMilkShakeDesktop@2x.png") 2x);
    background-image: image-set(url("/images/products/productMilkShakeDesktop.png") 1x, url("/images/products/productMilkShakeDesktop@2x.png") 2x);
  }
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.product__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 768px) {
  .product__name {
    font-size: 22px;
    line-height: 27px;
  }
}
@media (min-width: 1200px) {
  .product__name {
    margin-top: 20px;
    font-size: 30px;
    line-height: 37px;
  }
}
.product__description {
  margin-top: 40px;
  text-align: center;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.04em;
}
@media (min-width: 1200px) {
  .product__description {
    margin-top: 66px;
    font-size: 16px;
    line-height: 28px;
  }
}
.product__arrow {
  position: absolute;
  bottom: 16px;
  fill: var(--secondary-black-color);
  border: none;
  background-size: contain;
  background-color: transparent;
}

.productCard {
  position: absolute;
  top: 80%;
  left: 50%;
  width: 280px;
  height: 968px;
  padding: 28px 20px;
  text-align: center;
  background-color: var(--white-color);
  border: 2px solid var(--yellow-color);
  border-radius: 10px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), scale 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), scale 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), scale 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.productCard__title {
  margin-bottom: 15px;
  font-family: "Seymour One";
  font-size: 20px;
  line-height: 28px;
}
.productCard__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  height: 139px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 768px) {
  .productCard__img {
    margin-bottom: 25px;
  }
}
.productCard__calories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 240px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .productCard__calories {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
  }
}
.productCard__item {
  width: 53px;
  height: 72px;
}
@media (min-width: 768px) {
  .productCard__item {
    width: 65px;
    height: 90px;
  }
}
@media (min-width: 768px) {
  .productCard {
    width: 568px;
    height: 996px;
    padding: 32px 40px;
  }
}

.ingredients {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}
.ingredients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .ingredients__list {
    margin-bottom: 48px;
  }
}
.ingredients__li:not(:last-child) {
  margin-bottom: 11px;
}
.ingredients__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.04em;
}

.commentsForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.commentsForm__field {
  height: 42px;
  margin-bottom: 16px;
  padding: 11px;
}
@media (min-width: 768px) {
  .commentsForm__field {
    width: 368px;
    margin-left: auto;
    margin-right: auto;
  }
}
.commentsForm__comments {
  margin-bottom: 24px;
  padding: 11px;
}
@media (min-width: 768px) {
  .commentsForm__comments {
    width: 368px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
  }
}
.commentsForm__submit {
  width: 132px;
}
@media (min-width: 768px) {
  .commentsForm__submit {
    width: 121px;
  }
}

body {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 12px;
  color: var(--secondary-black-color);
}
body.body-modal-open {
  overflow: hidden;
}

.overflow {
  overflow: hidden;
}

h1 {
  font-family: "Seymour One";
  font-weight: 400;
  font-size: 26px;
  line-height: 33px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--white-color);
}
@media (min-width: 1200px) {
  h1 {
    font-size: 38px;
    line-height: 48px;
  }
}

h2 {
  font-family: "Seymour One";
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  h2 {
    font-size: 34px;
    line-height: 43px;
  }
}
@media (min-width: 1200px) {
  h2 {
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 0.06em;
  }
}

ul,
h1,
h2,
h3,
h4,
p {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--secondary-black-color);
}

img {
  display: block;
}

input, textarea {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: var(--secondary-black-color);
}
@media (min-width: 768px) {
  input, textarea {
    font-size: 14px;
    line-height: 20px;
  }
}

button {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.logo {
  position: absolute;
  top: 12px;
  left: 20px;
  width: 40px;
  height: 37px;
}
@media (min-width: 480px) {
  .logo {
    top: 14px;
    width: 48px;
    height: 44px;
  }
}
@media (min-width: 768px) {
  .logo {
    top: 20px;
    left: 32px;
  }
}
@media (min-width: 1200px) {
  .logo {
    width: 60px;
    height: 65px;
  }
}

.toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
  color: var(--white-color);
  background-color: transparent;
  border: none;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 767px) {
  .grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (min-width: 768px) {
  .grid {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  background-color: var(--white-color);
  visibility: visible;
  opacity: 1;
  -webkit-transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 999;
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

.crossBtn {
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 0;
  background-color: var(--white-color);
  color: var(--secondary-black-color);
  border: none;
}

.arrowBtn {
  width: 12px;
  height: 12px;
  margin-left: 7.75px;
  fill: var(--black-color);
}

.about {
  position: relative;
  padding-top: 60px;
  text-align: center;
  background-color: var(--primary-color);
}
.about__title {
  width: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .about__title {
    width: 100%;
  }
}
.about__label {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: var(--white-color);
}
@media (min-width: 768px) {
  .about__label {
    font-weight: 800;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.04em;
  }
}
@media (min-width: 1200px) {
  .about__label {
    font-size: 30px;
    line-height: 37px;
  }
}
.about__name {
  color: var(--white-color);
}
.about__img {
  position: absolute;
}
@media (max-width: 767px) {
  .about__img {
    top: 391px;
    left: 50%;
    width: 280px;
    height: 300px;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
@media (min-width: 768px) {
  .about__img {
    top: 214px;
    left: 32px;
    width: 330px;
    height: 356px;
  }
}
@media (min-width: 1200px) {
  .about__img {
    top: 236px;
    left: 16px;
    width: 491px;
    height: 529px;
  }
}
@media (max-width: 767px) {
  .about__description {
    width: 220px;
    margin-top: 372px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 768px) {
  .about__description {
    width: 334px;
    margin-top: 80px;
    margin-left: 368px;
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .about__description {
    width: 463px;
    margin-top: 172px;
    margin-left: 616px;
    text-align: left;
  }
}
.about__text {
  line-height: 19px;
  color: var(--white-color);
}
.about__text:nth-child(1) {
  line-height: 21px;
  letter-spacing: 0.04em;
}
@media (min-width: 1200px) {
  .about__text:nth-child(1) {
    font-size: 16px;
    line-height: 28px;
  }
}
.about__text:not(:last-child) {
  margin-bottom: 4px;
}
@media (min-width: 768px) {
  .about__text:not(:last-child) {
    margin-bottom: 8px;
  }
}
@media (min-width: 768px) {
  .about__text:nth-child(2) {
    line-height: 21px;
    letter-spacing: 0.04em;
  }
}
@media (min-width: 1200px) {
  .about__text:nth-child(2) {
    font-size: 14px;
    line-height: 27px;
  }
}
.about__text:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .about__text:last-child {
    width: 280px;
    line-height: 23px;
    letter-spacing: 0.04em;
  }
}
@media (min-width: 1200px) {
  .about__text:last-child {
    width: 100%;
    font-size: 14px;
    line-height: 27px;
  }
}

.readMoreBtn {
  width: 164px;
  margin-top: 24px;
  line-height: 18px;
}
.readMoreBtn:hover {
  background-color: var(--hover-color);
}
.readMoreBtn:focus {
  background-color: var(--hover-color);
  color: var(--white-color);
}
.readMoreBtn:focus .arrowBtn {
  fill: var(--white-color);
}
.readMoreBtn:disabled {
  background-color: var(--grey-color);
}
@media (min-width: 768px) {
  .readMoreBtn {
    margin-top: 32px;
    margin-left: 366px;
  }
}
@media (min-width: 1200px) {
  .readMoreBtn {
    margin-top: 54px;
    margin-left: 616px;
  }
}

.readMoreModal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 280px;
  height: 459px;
  padding: 28px;
  background: var(--white-color);
  border: 2px solid var(--yellow-color);
  border-radius: 10px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), scale 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), scale 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), scale 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 768px) {
  .readMoreModal {
    width: 568px;
    height: 449px;
    padding: 32px 59px;
  }
}

.articleAbout__title {
  margin-bottom: 20px;
  font-family: "Seymour One";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
@media (min-width: 768px) {
  .articleAbout__title {
    margin-bottom: 32px;
    font-size: 20px;
    line-height: 28px;
  }
}
.articleAbout__video {
  width: 224px;
  height: 199px;
  margin-bottom: 20px;
  background-image: url(/images/about/clarity_play-solid.png), url(/images/about/Rectangle.png);
  background-position: center, top right;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .articleAbout__video {
    width: 448px;
    height: 205px;
    margin-bottom: 32px;
    background-image: url(/images/about/clarity_play-solidTablet.png), url(/images/about/RectangleTablet.png);
  }
}
.articleAbout__description {
  text-align: left;
  font-size: 14px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .articleAbout__description {
    font-size: 16px;
    line-height: 22px;
  }
}

.advantages {
  padding-top: 50px;
  padding-bottom: 32px;
  text-align: center;
  background-color: var(--primary-color);
}
@media (min-width: 480px) {
  .advantages {
    padding-top: 60px;
  }
}
@media (min-width: 768px) {
  .advantages {
    padding-top: 80px;
    padding-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .advantages {
    padding-top: 146px;
    padding-bottom: 80px;
  }
}

.grid__advItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.grid__advItem::before {
  content: "";
  width: 50px;
  height: 50px;
  margin-bottom: 16px;
  background-size: contain;
}
@media (min-width: 768px) {
  .grid__advItem::before {
    margin-bottom: 32px;
  }
}
@media (min-width: 1200px) {
  .grid__advItem::before {
    margin-bottom: 40px;
  }
}
.grid__advItem:first-child::before {
  background-image: url(/images/advantages/cow.png);
}
@media (max-width: 479px) {
  .grid__advItem:nth-child(2) {
    margin-top: 28px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .grid__advItem:nth-child(2) {
    margin-top: 32px;
  }
}
.grid__advItem:nth-child(2)::before {
  background-image: url(/images/advantages/weight.png);
}
@media (max-width: 479px) {
  .grid__advItem:nth-child(3) {
    margin-top: 22px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .grid__advItem:nth-child(3) {
    margin-top: 32px;
  }
}
.grid__advItem:nth-child(3)::before {
  background-image: url(/images/advantages/iceCream.png);
}

.advantage__title {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--white-color);
}
@media (min-width: 768px) {
  .advantage__title {
    margin-bottom: 12px;
    font-size: 48px;
    line-height: 59px;
  }
}
@media (min-width: 1200px) {
  .advantage__title {
    font-size: 58px;
    line-height: 71px;
  }
}
.advantage__description {
  width: 230px;
  line-height: 20px;
  text-align: center;
  color: var(--white-color);
}
@media (min-width: 768px) {
  .advantage__description {
    width: 152px;
    font-size: 14px;
    line-height: 24px;
  }
}
@media (min-width: 1200px) {
  .advantage__description {
    width: 368px;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.02em;
  }
}

.galleryReviews {
  width: 100%;
  height: 1089px;
  padding-bottom: 413px;
  text-align: center;
  background-image: -webkit-image-set(url("/images/reviews/bgReviewMobil.png") 1x, url("/images/reviews/bgReviewMobil@2x.png") 2x);
  background-image: image-set(url("/images/reviews/bgReviewMobil.png") 1x, url("/images/reviews/bgReviewMobil@2x.png") 2x);
}
@media (min-width: 480px) {
  .galleryReviews {
    height: 1150px;
    padding-bottom: 409px;
    background-image: -webkit-image-set(url("/images/reviews/bgReview480.png") 1x, url("/images/reviews/bgReview480@2x.png") 2x);
    background-image: image-set(url("/images/reviews/bgReview480.png") 1x, url("/images/reviews/bgReview480@2x.png") 2x);
  }
}
@media (min-width: 768px) {
  .galleryReviews {
    height: 1171px;
    padding-bottom: 382px;
    background-image: -webkit-image-set(url("/images/reviews/bgReviewTablet.png") 1x, url("/images/reviews/bgReviewTablet@2x.png") 2x);
    background-image: image-set(url("/images/reviews/bgReviewTablet.png") 1x, url("/images/reviews/bgReviewTablet@2x.png") 2x);
  }
}
@media (min-width: 1200px) {
  .galleryReviews {
    height: 1151px;
    padding-bottom: 228px;
    background-image: -webkit-image-set(url("/images/reviews/bgReviewDesktop.png") 1x, url("/images/reviews/bgReviewDesktop@2x.png") 2x);
    background-image: image-set(url("/images/reviews/bgReviewDesktop.png") 1x, url("/images/reviews/bgReviewDesktop@2x.png") 2x);
  }
}

.backgroundGallery {
  width: 100%;
  height: 36px;
  background-color: var(--primary-color);
}
@media (min-width: 480px) {
  .backgroundGallery {
    height: 49px;
  }
}
@media (min-width: 768px) {
  .backgroundGallery {
    height: 144px;
  }
}
@media (min-width: 1200px) {
  .backgroundGallery {
    height: 98px;
  }
}

.gallery {
  position: relative;
  width: 280px;
  height: 130px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  background-color: transparent;
}
.gallery__item {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-size: cover;
  -webkit-animation: zoom 5000ms infinite, slideanim 15000ms infinite;
          animation: zoom 5000ms infinite, slideanim 15000ms infinite;
}
.gallery__item:nth-child(1) {
  background-image: -webkit-image-set(url("/images/reviews/IceCream.png") 1x, url("/images/reviews/IceCream@2x.png") 2x);
  background-image: image-set(url("/images/reviews/IceCream.png") 1x, url("/images/reviews/IceCream@2x.png") 2x);
  -webkit-animation-delay: 0;
          animation-delay: 0;
}
.gallery__item:nth-child(2) {
  background-image: -webkit-image-set(url("/images/reviews/IceCream2.png") 1x, url("/images/reviews/IceCream2@2x.png") 2x);
  background-image: image-set(url("/images/reviews/IceCream2.png") 1x, url("/images/reviews/IceCream2@2x.png") 2x);
  -webkit-animation-delay: 5000ms;
          animation-delay: 5000ms;
}
.gallery__item:nth-child(3) {
  background-image: -webkit-image-set(url("/images/reviews/IceCream3.png") 1x, url("/images/reviews/IceCream3@2x.png") 2x);
  background-image: image-set(url("/images/reviews/IceCream3.png") 1x, url("/images/reviews/IceCream3@2x.png") 2x);
  -webkit-animation-delay: 10000ms;
          animation-delay: 10000ms;
}
@media (min-width: 480px) {
  .gallery {
    width: 440px;
    height: 204px;
  }
}
@media (min-width: 768px) {
  .gallery {
    width: 704px;
    height: 327px;
  }
}
@media (min-width: 1200px) {
  .gallery {
    width: 1013px;
    height: 422px;
  }
}

.reviews {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 174px;
  background-color: transparent;
}
@media (min-width: 480px) {
  .reviews {
    padding-top: 235px;
  }
}
@media (min-width: 768px) {
  .reviews {
    padding-top: 283px;
  }
}
@media (min-width: 1200px) {
  .reviews {
    padding-top: 464px;
  }
}

.customer {
  position: absolute;
  opacity: 0;
  -webkit-animation: slideanim 15000ms infinite;
          animation: slideanim 15000ms infinite;
}
.customer:nth-child(1) {
  -webkit-animation-delay: 0;
          animation-delay: 0;
}
.customer:nth-child(2) {
  -webkit-animation-delay: 5000ms;
          animation-delay: 5000ms;
}
.customer:nth-child(3) {
  -webkit-animation-delay: 10000ms;
          animation-delay: 10000ms;
}
.customer__photo {
  margin-left: auto;
  margin-right: auto;
}
.customer__review {
  width: 280px;
  height: 256px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  padding: 35px 39px;
  background-color: var(--primary-color);
  border-radius: 10px;
}
@media (min-width: 768px) {
  .customer__review {
    width: 705px;
    height: 138px;
    padding: 28px 80px;
  }
}
@media (min-width: 1200px) {
  .customer__review {
    width: 968px;
    padding: 43px 109px;
  }
}
.customer__textReview {
  line-height: 31px;
  text-align: center;
  color: var(--white-color);
}
@media (min-width: 768px) {
  .customer__textReview {
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.04em;
  }
}
@media (min-width: 1200px) {
  .customer__textReview {
    font-size: 16px;
    line-height: 30px;
  }
}
.customer__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
  margin-bottom: 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 37px;
}
@media (min-width: 768px) {
  .customer__name {
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 30px;
  }
}

.contacts {
  padding-bottom: 60px;
  background-color: var(--primary-color);
}
@media (min-width: 768px) {
  .contacts {
    padding-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .contacts {
    padding-bottom: 120px;
  }
}

.grid__contacts {
  width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 24px;
  background: var(--white-color);
  -webkit-box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}
@media (max-width: 767px) {
  .grid__contacts:first-child {
    margin-top: -353px;
  }
}
@media (max-width: 767px) {
  .grid__contacts:not(:first-child) {
    margin-top: 16px;
  }
}
@media (max-width: 767px) {
  .grid__contacts {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 768px) {
  .grid__contacts {
    width: 224px;
    height: 537px;
    padding-left: 24px;
    padding-bottom: 40px;
    margin-top: -299px;
  }
}
@media (min-width: 1200px) {
  .grid__contacts {
    width: 368px;
    height: 542px;
    margin-top: -128px;
    padding-left: 40px;
  }
}

.location {
  font-weight: 500;
}
.location__type {
  display: inline-block;
  margin-bottom: 20px;
  padding: 4px 22px;
  line-height: 14px;
  letter-spacing: 0.04em;
  background: var(--yellow-color);
  border-radius: 4px;
}
@media (min-width: 768px) {
  .location__type {
    margin-bottom: 32px;
    padding: 4px 13px;
    font-size: 16px;
    line-height: 22px;
  }
}
.location__city {
  margin-bottom: 8px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.04em;
}
@media (min-width: 768px) {
  .location__city {
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 26px;
  }
}
@media (min-width: 1200px) {
  .location__city {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 30px;
  }
}
.location__address {
  padding-bottom: 24px;
  font-style: normal;
  line-height: 22px;
  letter-spacing: 0.04em;
  color: var(--milkshakes-bgColor);
  border-bottom: 1px solid #E1E1E1;
}
@media (min-width: 768px) {
  .location__address {
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 26px;
  }
}
@media (min-width: 1200px) {
  .location__address {
    font-size: 16px;
    line-height: 29px;
  }
}
.location__contacts {
  padding-top: 24px;
}
@media (min-width: 768px) {
  .location__contacts {
    padding-top: 32px;
  }
}
.location__phone, .location__email {
  font-style: normal;
  line-height: 19px;
  text-decoration: none;
  color: var(--secondary-black-color);
}
@media (min-width: 768px) {
  .location__phone, .location__email {
    font-size: 14px;
    line-height: 21px;
  }
}
@media (min-width: 1200px) {
  .location__phone, .location__email {
    font-size: 16px;
    line-height: 24px;
  }
}
.location__phone {
  display: block;
  margin-bottom: 6px;
}
@media (min-width: 768px) {
  .location__phone {
    margin-bottom: 4px;
  }
}

.schedule {
  padding: 24px 0;
  font-weight: 500;
  line-height: 22px;
  border-bottom: 1px solid #E1E1E1;
}
@media (min-width: 768px) {
  .schedule {
    padding: 32px 0;
    font-size: 14px;
    line-height: 26px;
  }
}
@media (min-width: 1200px) {
  .schedule {
    font-size: 16px;
    line-height: 30px;
  }
}

.workingDays {
  color: var(--secondary-black-color);
}

.workingHours {
  color: var(--grey-color);
}
.workingHours:not(:last-child) {
  margin-bottom: 8px;
}

.locationBtns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
}
@media (min-width: 480px) {
  .locationBtns {
    margin-top: 24px;
  }
}
@media (min-width: 768px) {
  .locationBtns {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (min-width: 1200px) {
  .locationBtns {
    margin-top: 60px;
  }
}

.ourLocationBtn {
  width: 196px;
  line-height: 18px;
}
.ourLocationBtn:hover {
  background-color: var(--hover-color);
}
.ourLocationBtn:focus {
  background-color: var(--hover-color);
  color: var(--white-color);
}
.ourLocationBtn:focus .arrowBtn {
  fill: var(--white-color);
}
.ourLocationBtn:disabled {
  background-color: var(--grey-color);
}
@media (min-width: 768px) {
  .ourLocationBtn {
    margin-left: 0;
    margin-right: 0;
  }
}

.locationModal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 280px;
  height: 365px;
  padding: 28px;
  text-align: center;
  background-color: var(--white-color);
  border: 2px solid var(--yellow-color);
  border-radius: 10px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), scale 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), scale 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), scale 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 768px) {
  .locationModal {
    width: 568px;
    height: 458px;
    padding: 32px 60px;
  }
}
.locationModal__title {
  margin-bottom: 20px;
  font-family: "Seymour One";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
@media (min-width: 768px) {
  .locationModal__title {
    margin-bottom: 32px;
    font-size: 20px;
    line-height: 28px;
  }
}
.locationModal__img {
  width: 224px;
  height: 199px;
  margin-bottom: 24px;
  background-image: -webkit-image-set(url("/images/contacts/locations.png") 1x, url("/images/contacts/locations@2x.png") 2x);
  background-image: image-set(url("/images/contacts/locations.png") 1x, url("/images/contacts/locations@2x.png") 2x);
}
@media (min-width: 768px) {
  .locationModal__img {
    width: 448px;
    height: 260px;
    margin-bottom: 32px;
    background-image: -webkit-image-set(url("/images/contacts/locationsTablet.png") 1x, url("/images/contacts/locationsTablet@2x.png") 2x);
    background-image: image-set(url("/images/contacts/locationsTablet.png") 1x, url("/images/contacts/locationsTablet@2x.png") 2x);
  }
}
.locationModal__btn {
  width: 134px;
}
@media (max-width: 767px) {
  .locationModal__btn {
    font-size: 12px;
    line-height: 15px;
  }
}
@media (min-width: 768px) {
  .locationModal__btn {
    width: 145px;
  }
}

.franchiseBtn {
  width: 196px;
  line-height: 18px;
  background-color: transparent;
  border: 2px solid var(--yellow-color);
}
.franchiseBtn:hover {
  border-color: var(--hover-color);
}
.franchiseBtn:focus {
  border-color: var(--hover-color);
  color: var(--white-color);
}
.franchiseBtn:focus .arrowBtn {
  fill: var(--white-color);
}
.franchiseBtn:disabled {
  border-color: var(--grey-color);
}
@media (max-width: 767px) {
  .franchiseBtn {
    margin-top: 16px;
  }
}
@media (min-width: 768px) {
  .franchiseBtn {
    margin-left: 16px;
    margin-right: 0;
  }
}

.franchiseModal {
  position: absolute;
  top: 55%;
  left: 50%;
  width: 280px;
  height: 674px;
  padding: 28px;
  text-align: center;
  background-color: var(--white-color);
  border: 2px solid var(--yellow-color);
  border-radius: 10px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), scale 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), scale 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), scale 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 768px) {
  .franchiseModal {
    width: 568px;
    height: 668px;
    padding: 32px 60px;
  }
}

.franchise__title {
  margin-bottom: 20px;
  font-family: "Seymour One";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
@media (min-width: 768px) {
  .franchise__title {
    width: 322px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    font-size: 20px;
    line-height: 28px;
  }
}
.franchise__description {
  margin-bottom: 24px;
  text-align: left;
  font-size: 14px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .franchise__description {
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 22px;
  }
}

.footer {
  background-color: var(--primary-color);
}
.footer__container {
  border-bottom: 1px solid #E1E1E1;
}
@media (min-width: 768px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.footer__name {
  width: 234px;
}
@media (min-width: 768px) {
  .footer__name {
    width: 352px;
  }
}
@media (min-width: 1200px) {
  .footer__name {
    width: 504px;
  }
}
.footer__description {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: var(--white-color);
}
@media (min-width: 768px) {
  .footer__description {
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.04em;
  }
}
@media (min-width: 1200px) {
  .footer__description {
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
  }
}
.footer__title {
  margin-top: 16px;
  margin-bottom: 60px;
  font-weight: 700;
  font-size: 34px;
  line-height: 41px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--white-color);
}
@media (min-width: 768px) {
  .footer__title {
    margin-top: 8px;
    margin-bottom: 32px;
    font-size: 48px;
    line-height: 59px;
    letter-spacing: 0.06em;
  }
}
@media (min-width: 1200px) {
  .footer__title {
    margin-top: 14px;
    margin-bottom: 60px;
    font-size: 58px;
    line-height: 71px;
  }
}
@media (min-width: 768px) {
  .footer__socialMediaContainer {
    margin-top: 61px;
    text-align: right;
  }
}
@media (min-width: 1200px) {
  .footer__socialMediaContainer {
    margin-top: 18px;
  }
}
.footer__socialMedia {
  width: 142px;
  height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0;
  margin-left: auto;
  margin-bottom: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 768px) {
  .footer__socialMedia {
    width: 162px;
    margin-bottom: 34px;
  }
}
@media (min-width: 1200px) {
  .footer__socialMedia {
    margin-bottom: 40px;
  }
}
.footer__socialMediaLink {
  width: 34px;
  height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: var(--primary-color);
  background-color: var(--yellow-color);
  border-radius: 50%;
}
.footer__socialMediaLink:hover, .footer__socialMediaLink:focus {
  fill: var(--white-color);
}
.footer__tel {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 12px;
  line-height: 22px;
  text-align: right;
}
@media (min-width: 768px) {
  .footer__tel {
    font-size: 14px;
    line-height: 26px;
  }
}
@media (min-width: 1200px) {
  .footer__tel {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.02em;
  }
}
.footer__telLink {
  text-decoration: none;
  color: var(--white-color);
}
.footer__copyright {
  width: 280px;
  padding: 20px 65px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #7A7A7A;
}
@media (min-width: 768px) {
  .footer__copyright {
    width: 300px;
    padding: 12px 0;
  }
}
@media (min-width: 1200px) {
  .footer__copyright {
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.02em;
  }
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 16px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 64px;
  background-color: var(--primary-color);
  overflow-y: scroll;
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}
@media (min-width: 480px) {
  .menu {
    padding-bottom: 88px;
  }
}
.menu.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
@media (min-width: 768px) {
  .menu .toggle {
    margin-top: 8px;
  }
}

.mobileMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 51px;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  list-style: none;
}
@media (max-width: 479px) {
  .mobileMenu__list {
    padding-bottom: 110px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .mobileMenu__list {
    padding-bottom: 114px;
  }
}
.mobileMenu__item {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
}
.mobileMenu__item:not(:last-child) {
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .mobileMenu__item:not(:last-child) {
    margin-bottom: 40px;
  }
}
@media (min-width: 768px) {
  .mobileMenu__item {
    font-size: 48px;
    line-height: 59px;
  }
}
.mobileMenu__link {
  text-decoration: none;
  color: var(--white-color);
}
.mobileMenu__link:hover, .mobileMenu__link:focus {
  color: var(--secondary-black-color);
}
.mobileMenu__btn {
  width: 152px;
  margin-top: 4px;
}
.mobileMenu__btn:hover {
  background-color: var(--hover-color);
}
.mobileMenu__btn:focus {
  background-color: var(--hover-color);
  color: var(--white-color);
}
.mobileMenu__btn:focus .arrowBtn {
  fill: var(--white-color);
}
.mobileMenu__btn:disabled {
  background-color: var(--grey-color);
}
@media (min-width: 768px) {
  .mobileMenu .mobileMenu__btn {
    display: none;
  }
}
@media (min-width: 768px) {
  .mobileMenu {
    padding-top: 76px;
  }
}

.order {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 280px;
  height: 991px;
  padding: 28px;
  text-align: center;
  background-color: var(--white-color);
  border: 2px solid var(--yellow-color);
  border-radius: 10px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), scale 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), scale 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), scale 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 768px) {
  .order {
    top: 80%;
    width: 568px;
    height: 644px;
    padding: 32px 54px;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form__title {
  padding-bottom: 83px;
  font-family: "Seymour One";
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
}
@media (min-width: 768px) {
  .form__title {
    padding-bottom: 103px;
    font-size: 20px;
    line-height: 28px;
  }
}
@media (max-width: 767px) {
  .form__product {
    margin-bottom: 31px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 768px) {
  .form__product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 40px;
  }
}
.form__item {
  width: 132px;
  height: 136px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid #96AF8C;
  -webkit-filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
          filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
  border-radius: 15px;
}
@media (max-width: 767px) {
  .form__item:not(:last-child) {
    margin-bottom: 83px;
  }
}
.form__item::before {
  position: absolute;
  content: "";
  width: 137px;
  height: 139px;
  margin-top: -65px;
  margin-left: -4px;
  margin-bottom: 5px;
  z-index: 999;
  background-size: cover;
}
.form__productName {
  margin-top: 96px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.form__field {
  height: 32px;
  margin-bottom: 12px;
  padding: 8px 12px;
}
@media (min-width: 768px) {
  .form__field {
    width: 368px;
    height: 42px;
    margin-left: auto;
    margin-right: auto;
    padding: 11px 16px;
  }
}
.form__comments {
  padding: 8px 12px;
}
@media (min-width: 768px) {
  .form__comments {
    width: 368px;
    margin-left: auto;
    margin-right: auto;
    padding: 11px 16px;
  }
}
.form__submit {
  width: 114px;
  margin-top: 26px;
}
@media (max-width: 767px) {
  .form__submit {
    font-size: 12px;
    line-height: 15px;
  }
}
@media (min-width: 768px) {
  .form__submit {
    width: 121px;
    margin-top: 32px;
  }
}/*# sourceMappingURL=main.css.map */