.advantages {
    padding-top: 50px;
    padding-bottom: 32px;

    text-align: center;

    background-color: var(--primary-color);

    @media (min-width: 480px) {
        padding-top: 60px;
    }

    @media (min-width: 768px) {
        padding-top: 80px;
        padding-bottom: 60px;
    }

    @media (min-width: 1200px) {
        padding-top: 146px;
        padding-bottom: 80px;
    }
}

.grid__advItem {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

        &::before {
            content: "";
            width: 50px;
            height: 50px;
            margin-bottom: 16px;
        
            background-size: contain;

            @media (min-width: 768px) {
                margin-bottom: 32px;
            }

            @media (min-width: 1200px) {
                margin-bottom: 40px;
            }
        }
    
        &:first-child::before {
            background-image: url(./images/advantages/cow.png);
        }

        &:nth-child(2) {
            @media (max-width: 479px) {
                margin-top: 28px;
            }

            @media (min-width: 480px) and (max-width: 767px) {
                margin-top: 32px;
            }        

            &::before {
            background-image: url(./images/advantages/weight.png);
            }
        }

        &:nth-child(3) {
            @media (max-width: 479px) {
                margin-top: 22px;
            }

            @media (min-width: 480px) and (max-width: 767px) {
                margin-top: 32px;
            }        

            &::before {
                background-image: url(./images/advantages/iceCream.png);
            }
        }
}

.advantage {
        &__title {
            margin-bottom: 16px;

            font-weight: 700;
            font-size: 36px;
            line-height: 44px;
            letter-spacing: 0.04em;
            text-transform: uppercase;

            color: var(--white-color);

            @media (min-width: 768px) {
                margin-bottom: 12px;

                font-size: 48px;
                line-height: 59px;    
            }

            @media (min-width: 1200px) {
                font-size: 58px;
                line-height: 71px;    
            }
        }

        &__description {
            width: 230px;

            line-height: 20px;
            text-align: center;

            color: var(--white-color);

            @media (min-width: 768px) {
                width: 152px;

                font-size: 14px;
                line-height: 24px;
            }

            @media (min-width: 1200px) {
                width: 368px;

                font-size: 16px;
                line-height: 28px;
                letter-spacing: 0.02em;
            }
        }
}
