.hero {
    background-color: var(--primary-color);

        &__nav {
            position: relative;
            
            height: 502px;

            perspective: 400px;

            // @media (min-width: 480px) {
            //     height: 415px;
            // }

            @media (min-width: 1200px) {
                height: 664px;
            }
        }

        &__menu, &__mobileMenu {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        &__menu {
            padding-top: 17px;

            @media (min-width: 480px) {
                padding-top: 20px;
            }

            @media (min-width: 768px) {
                padding-top: 24px;
            }

            @media (min-width: 1200px) {
                padding-top: 28px;
                justify-content: space-between;
            }

            & .toggle {

                @media (min-width: 768px) and (max-width: 1199px) {
                    margin-right: 32px;
                }
                
                @media (min-width: 1200px) {
                    display: none;
                }
            }
        }

        &__iconMenu {
            fill: var(--white-color);
        }

        &__title {
            margin-top: 50px;
            width: 247px;
            height: 97px;

            @media (min-width: 480px) {
                margin-top: 40px;
            }

            @media (min-width: 768px) {
                margin-top: 14px;
            }

            @media (min-width: 1200px) {
                margin-top: 58px;
                width: 367px;
                height: 144px;
            }
        }

        &__links {
            display: flex;
            margin-top: 32px;
            align-items: center;

            @media (min-width: 768px) {
                margin-top: 24px;
            }

            @media (min-width: 1200px) {
                margin-top: 28px;
            }
        }

        &__productsBtn {
            @extend %button;
            width: 108px;
            height: 38px;

            margin-left: 0;
            margin-right: 0;

            font-weight: 600;
            font-size: 12px;
            line-height: 15px;

            text-decoration: none;
            color: var(--black-color);
            background-color: transparent;
            border: 2px solid var(--yellow-color);
            border-radius: 8px;

            z-index: 9;

                &:hover {
                    border-color: var(--hover-color);
                }

            @media (min-width: 1200px) {
                width: 134px;
                height: 42px;

                font-size: 14px;
                line-height: 18px;    
            }
        }

        &__howItIsMadeBtn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 24px;
            padding: 0;
            margin-left: 12px;

            font-size: 12px;
            line-height: 15px;
            color: var(--yellow-color);
            background-color: transparent;
            border: none;

            z-index: 9;

                &:hover {
                    color: var(--hover-color);
                }

                &:focus {
                    color: var(--white-color);
                }

                &:disabled {
                    color: var(--grey-color);
                }

            @media (min-width: 1200px) {
                width: 111px;
                margin-left: 34px;

                font-size: 14px;
                line-height: 17px;    
            }
        }

        &__dots {
            position:absolute;
            bottom:0;
            right: 0;

            width: 320px;
            height: 50px;

            background-image: url(../../../myIceCream/images/header/dots.svg);
            z-index: 1;

            @media (min-width: 480px) {
                width: 330px;
                height: 52px;    
            }

            @media (min-width: 768px) {
                width: 768px;
                height: 68px;
                background-image: url(../../../myIceCream/images/header/dotsTablet.svg);
            }

            @media (min-width: 1200px) {
                width: 1200px;
                height: 384px;
                background-image: url(../../../myIceCream/images/header/dotsDesktop.svg);
            }
        }

        @keyframes animate125 {
            0% {
              transform: scale(1);
            }
          
            50% {
              transform: scale(1.25);
            }
          
            100% {
              transform: scale(1);
            }
          }
}

.iceCreamMain {
    position: absolute;
    bottom:0;
    right: 15%;

    background-size: cover;

    animation: animate125 1000ms;

    @media (min-width: 480px) {
        right: 0;

        margin-right: 20px;
    }

    @media (min-width: 768px) {
        right: 92px;
    }

        &__img {
            width: 177px;
            height: 217px;
        
            @media (min-width: 480px) {
                width: 218px;
                height: 267px;
            }
            
            @media (min-width: 768px) {
                width: 268px;
                height: 329px;
            }

            @media (min-width: 1200px) {
                width: 456px;
                height: 560px;
            }
        }
}

.buyNowBtnTablet {
    @media (max-width: 767px) {
        display: none;
    }
}

.manyIceCream {
    @media (max-width: 767px) {
        display: none;
    }

        &__img {
            position: absolute;
            bottom: 12px;

            width: 152px;
            height: 152px;
            z-index: 998;

            @media (min-width: 1200px) {
                bottom: 65px;

                width: 225px;
                height: 225px;
            }
        }

        &__description {
            width: 139px;
            height: 85px;

            display: flex;
            margin-left: 184px;
            margin-top: 39px;

            line-height: 17px;
            color: var(--white-color);

            @media (min-width: 1200px) {
                width: 200px;
                height: 80px;

                margin-left: 257px;
                margin-top: 109px;

                font-size: 14px;
                line-height: 20px;
            }
        }

        &__btn {
            margin-top: 12px;
            margin-left: 184px;
            padding-left: 0;

            fill: var(--white-color);
            border: none;
            background-size: contain;
            background-color: transparent;

            @media (min-width: 1200px) {
                margin-top: 24px;
                margin-left: 257px;
            }
        }
}

.achievements {
    position: absolute;
    top: 94px;
    right: 32px;

    width: 46px;
    height: 48px;

    @media (max-width: 767px) {
        display: none;
    }

    @media (min-width: 1200px) {
        top: 126px;

        width: 79px;
    }

        &__quantity {
            font-weight: 900;
            font-size: 28px;
            line-height: 34px;
            text-align: right;
            letter-spacing: 0.04em;
            text-transform: uppercase;

                &:not(:first-child) {
                    margin-top: 20px;

                    @media (min-width: 1200px) {
                        margin-top: 16px;
                    }
                }
            
            @media (min-width: 1200px) {
                font-size: 46px;
                line-height: 56px;    
            }
        }

        &__type {
            margin-top: 4px;
            text-align: right;
            font-size: 8px;
            line-height: 10px;    
            color: var(--white-color);

            @media (min-width: 1200px) {
                font-size: 14px;
                line-height: 17px;    
            }
        }
}

.desktopMenu {
    width: 444px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    margin-left: 384px;
    
        &__item {
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
        }

        &__link {
            text-decoration: none;

            color: var(--white-color);

            &:hover, &:focus {
                color: var(--yellow-color);
            }
        }

    @media (max-width: 1199px) {
        display: none;
    }
}