:root {
    --primary-color: #84A178;
    --white-color: #FCFCFC;
    --yellow-color: #F8D24E;
    --black-color: #000000;
    --secondary-black-color: #131313;
    --iceCream-bgColor: #AEC6A5;
    --iceCoffee-bgColor: #EFD478;
    --milkshakes-bgColor: #D6936D;
    --grey-color: #ABABAB;
    --hover-color: #0A8817;
}
